:root {
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb(92, 103, 230);
}

.sobre_nosotros {
    padding: 60px 10px;
    background-image: url("../assets/images/fondo_seccion_sobre_nosotros.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.sobre_nosotros_title_text {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.sobre_nosotros_title {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}
.sobre_nosotros_title span {
    color: black;
}
.sobre_nosotros_text {
    width: 100%;
    max-width: 450px;
}
.sobre_nosotros_btn {
    border-radius: 10px;
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 500;
    background: var(--color-blue);
    color: var(--color-white);
    transition: 300ms ease background, 300ms ease color;
}
.sobre_nosotros_btn:hover {
    background: var(--color-white);
    color: var(--color-blue);
}

/* img */
.sobre_nosotros_img {
    padding-bottom: 95px;
    width: 100%;
    max-width: 410px;
}
.sobre_nosotros_img img {
    width: 100%;
    object-fit: contain;
    display: block;
}


@media screen and (max-width: 780px) {
    .sobre_nosotros {
        padding: 30px 10px;
        flex-direction: column;
        gap: 20px;
    }

    .sobre_nosotros_title_text {
        padding-bottom: 0px;
        gap: 10px;
    }

    .sobre_nosotros_title {
        display: block;
    }

    .sobre_nosotros_btn {
        margin: 0 auto;
    }

    .sobre_nosotros_img {
        padding-bottom: 0px;
    }
}